.title {
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bold;
}

.formMain {
    display: flex;
    gap: 0px;
    justify-content: space-around;
}

.settingWrapper {
    display: flex;
    padding: 21px;
    border: solid #ffffff 2px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 6px;
}

.buttonS {
    cursor: pointer;
    background: #45658D;
    border-radius: 2px;
    padding: 4px;
    font-family: Arial;
    font-size: 15px;
    border: solid #ffffff 2px;
}

.buttonS:hover {
    background: var(--secondary--color);
    text-decoration: none;
}