/* Sidebar */
.logo {
  top: 10px;
  height: 32px;
  max-width: 100%;
  left: 4px;
  pointer-events: none;
  position: absolute;
}

.my2 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.sidebar {
  background: var(--primary--color);
  border-radius: 6px;
  height: 82%;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  position: fixed;
  text-emphasis-color: #fff;
  transition: left 0.3s ease;
  width: 55px;
  z-index: 99999;
  -webkit-text-emphasis-color: #fff;
}
  
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
}

.sidebar li:hover {
  background: #fff;
}

.sidebarButton {
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  top: 7px;
  z-index: 999;
}

.sidebarButtonOpen {
  left: 127px;
}

.sidebarButtonClosed {
  left: 11px;
}

.sidebarTitleText {
  opacity: 0;
  margin-bottom: 1.5rem;
  margin-left: 1rem;
  font-size: 1rem;
  font-weight: 600;
  user-select: none;
}

/* SubMenu */
.subMenu {
  position: fixed;
  background: var(--primary--color);
  text-emphasis-color: #fff;
  transition: left 0.3s ease;
  z-index: 99999;
}

.subMenuStandard {
  left: 173px;
  height: 82%;
  width: 280px;
  margin-top: 0.3rem;
  border-radius: 6px;

  display: block;
  border: 4px solid var(--secondary--color);
  padding: 8px;
}

.subMenuConfig {
  left: 173px;
  height: 82%;
  width: 87%;
  margin-top: 0.3rem;
  border-radius: 6px;
  display: block;
  border: 4px solid var(--secondary--color);
  padding: 8px;
}

/* Menu Buttons */ 
.menuButton {
  align-items: center;
  border-radius: 6px;
  border: solid var(--secondary--color) 1px;
  cursor: pointer;
  display: flex;
  font-size: large; 
  font-weight: 600;
  height: 35px;
  margin-block: inherit;
  opacity: 1;
  user-select: none;
  width: 100%;
}

.menuButton svg { 
  margin-right: 15px;
  height: 24px;
  margin-left: 1rem;
  width: 24px;
}

.menuButton p {
  display: none;
}
