/* Sidebar */
.sidebar {
  background: var(--primary--color);
  border-radius: 6px;
  height: 82%;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  position: fixed;
  text-emphasis-color: #fff;
  transition: left 0.3s ease;
  width: 55px;
  z-index: 99999;
  -webkit-text-emphasis-color: #fff;
}
  
.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px;
  color: #fff;
}

.sidebar li:hover {
  background: #fff;
}

.sidebarButton {
  color: #fff ;
  cursor: pointer;
  font-size: 2rem;
  position: relative;
  top: 7px;
  z-index: 999;
}

.sidebarButtonOpen {
  left: 127px;
}

.sidebarButtonClosed {
  left: 11px;
}

.sidebarTitleText {
  opacity: 0;
  margin-bottom: 0.5rem;
  margin-left: 1rem;
  font-size: 1rem; 
  font-weight: 600; 
  color: #ffffff;
}

/* SubMenu */
.subMenu {
  position: fixed;
  background: var(--primary--color);
  text-emphasis-color: #fff;
  transition: left 0.3s ease;
  z-index: 99999;
}

.subMenuStandard {
  left: 168px;
  height: 82%;
  width: 280px;
  margin-top: 0.3rem;
  border-radius: 6px;
}

.subMenuConfig {
  left: 168px;
  height: 82%;
  width: 87%;
  margin-top: 0.3rem;
  border-radius: 6px;
}

/* Menu Buttons */ 
.mainButton {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-size: large;
  font-weight: 600;
  height: 35px;
  margin-block: inherit;
  margin-left: 1rem;
  opacity: 1;
}

.mainButton svg { 
  margin-right: 15px;
  height: 24px;
  width: 24px;
}

.mainButton p {
  display: none;
}
